.bbbbb {
  text-align: center;
  background: white;
  width: 40%;
  height: 100%;
  margin-left: 10px;
  border: 2px solid #22b4e1;
  border-radius: 10px;
  height: auto;
}

.eee {
  padding: 0;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.wraper {
  width: 100%;
}

.aaa {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
